<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>untitled</title>
		<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=iso-8859-1" />
	</head>
	<body>
		<form action="#">
			<div>
				<select onchange="if(selectedIndex!=0)document.getElementById('t').innerHTML=options[selectedIndex].value;">
					<option value="">&lt; select an option &gt;</option>
					<option value="term 1">term 1</option>
					<option value="dog">term 2</option>
					<option value="term 3">term 3</option>
				</select>
			</div>
		</form>
		<div id="t"></div>
	</body>
</html>
